<div class="search-wrapper">

    <span class="search-icon">

        🔍

    </span>

    <input
        class="search-input"
        type="text"
        placeholder="Search processors, GPUs, laptops..."
        [formControl]="searchControl"
        (keydown.enter)="selectCurrentSuggestion()",
        (keydown.arrowdown)="moveDown()"
        (keydown.arrowup)="moveUp()"
        >

    @if (suggestions().length > 0 && isOpen()) {

        <div class="search-results">

            @for (product of suggestions(); track product.id) {

                <a
                    class="search-result"
                    [class.active]="selectedIndex() === $index "
                    (click)="selectProduct(product.id)"
                    >

                    <div 
                    class="product-info"              
                    >

                        <span class="product-name">

                            {{ product.name }}

                        </span>

                        <span class="product-category">

                            {{ product.category?.name }}

                        </span>

                    </div>

                    <span class="product-price">

                        {{ product.price }} €

                    </span>

                </a>

            }

        </div>

    }

</div>