/* ==========================================
   STORE LAYOUT
========================================== */

.store-layout {

    min-height: 100vh;

    display: flex;

    flex-direction: column;

}

/* ==========================================
   CONTENT
========================================== */

.store-content {

    flex: 1;

}