@if (products().length > 0) {

<div class="products-page">

    <!-- HEADER -->

    <div class="products-toolbar">

        <div class="toolbar-title">

            <h1>

                Products

            </h1>

            <p>

                {{ products().length }}

                products found

            </p>

        </div>

        <!-- FUTURE FILTERS -->

        <div class="toolbar-filters">

            <input
                type="text"
                placeholder="Search products">

            <select>

                <option>

                    All Brands

                </option>

            </select>

            <select>

                <option>

                    All Categories

                </option>

            </select>

            <select>

                <option>

                    Featured

                </option>

                <option>

                    Price: Low to High

                </option>

                <option>

                    Price: High to Low

                </option>

            </select>

        </div>

    </div>

    <!-- GRID -->

    <div class="products-grid">

        @for (
            product of products();
            track product.id
        ) {

        <div
            class="product-card"
            [routerLink]="[
                '/products',
                product.id
            ]">

<div class="product-image">

    <img

        [src]="
            product.images.find(image => image.thumbnail)?.imageUrl
            ||
            '/images/products/placeholder.webp'
        "

        [alt]="product.name">

</div>

            <div class="product-info">

                <span class="brand">

                    {{ product.brand.name }}

                </span>

                <h3>

                    {{ product.name }}

                </h3>

                <p>

                    {{ product.description }}

                </p>

                <div class="price">

                    {{ product.price | currency:'EUR' }}

                </div>

            </div>

        </div>

        }

    </div>

</div>

} @else {

<div class="products-loading">

    @for (
        item of [1,2,3,4,5,6,7,8];
        track item
    ) {

        <div class="product-skeleton"></div>

    }

</div>

}