@if (filteredProducts().length > 0) {

<div class="products-page">

    <!-- ==========================================
         HEADER
    ========================================== -->

    <div class="products-toolbar">

        <div class="toolbar-title">

            <h1>

                Products

            </h1>

            <p>

                {{ filteredProducts().length }}

                products found

            </p>

        </div>

        <!-- ==========================================
             FILTERS
        ========================================== -->

        <div class="toolbar-filters">


            <!-- BRAND -->

            <select

                [ngModel]="selectedBrand()"

                (ngModelChange)="onBrandSelect($event)">

                <option [ngValue]="null">

                    All Brands

                </option>

                @for (
                    brand of brands();
                    track brand.id
                ) {

                    <option
                        [ngValue]="brand.id">

                        {{ brand.name }}

                    </option>

                }

            </select>

            <!-- CATEGORY -->

            <select

                [ngModel]="selectedCategory()"

                (ngModelChange)="onCategorySelect($event)">

                <option  [ngValue]="null">

                    All Categories

                </option>

                @for (
                    category of categories();
                    track category.id
                ) {

                    <option
                        [ngValue]="category.id">

                        {{ category.name }}

                    </option>

                }

            </select>

            <!-- SORT -->

            <select

                [ngModel]="sortBy()"

                (ngModelChange)="onSortSelect($event)">

                <option value="">

                    Featured

                </option>

                <option value="price-asc">

                    Price: Low to High

                </option>

                <option value="price-desc">

                    Price: High to Low

                </option>

            </select>

        </div>

    </div>

    <!-- ==========================================
         PRODUCTS GRID
    ========================================== -->

    <div class="products-grid">

        @for (

            product of filteredProducts();

            track product.id

        ) {

        <div

            class="product-card"

            [routerLink]="[

                '/products',

                product.id

            ]">

            <!-- IMAGE -->

            <div class="product-image">

                <img

                    [src]="

                        product.images.find(

                            image => image.thumbnail

                        )?.imageUrl

                        ||

                        '/images/products/placeholder.webp'

                    "

                    [alt]="product.name">

            </div>

            <!-- INFO -->

            <div class="product-info">

                <span class="brand">

                    {{ product.brand.name }}

                </span>

                <h3>

                    {{ product.name }}

                </h3>

                <p>

                    {{ product.description }}

                </p>

                <div class="price">

                    {{ product.price | currency:'EUR' }}

                </div>

            </div>

        </div>

        }

    </div>

</div>

} @else {

<!-- ==========================================
     LOADING STATE
========================================== -->

<div class="products-loading">

    @for (

        item of [1,2,3,4,5,6,7,8];

        track item

    ) {

        <div class="product-skeleton"></div>

    }

</div>

}